#body {
    background-image: url('../bg.jpg') !important;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); /* Adjust the blur intensity as desired */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Ensures the background image stays fixed */
    color: #fff;
}